body {
    background-color: rgb(250, 250, 250);
    width: 100%;
}

#container {
    max-width: 100%;
    width: 38em;
    margin: auto;
    color: rgba(0, 0, 0, 0.85);
    padding-bottom: 13px;
}

#container > div {
    margin-bottom: 10px;
}

#header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 56px;
    max-height: 6.5vh;
    background-color: white;
    left: 0px;
    top: 0px;
}

#header video {
    flex: 1 9999 0%;
    height: 36px;
    padding-top: 10px;
}

#header .links {
    display: flex;
    font-size: 1.1em;
    flex: 1 0 0%;
    flex-direction: column;
    position: absolute;
    right: 5px;
}

#code-text {
    min-height: 250px;
    font-size: 13px;
    background-color: #d5d5d5;
    margin-top: 10px;
    vertical-align: middle;
    margin-left: 6px;
    margin-right: 6px;
    border-style: dashed;
    border-width: 3px;
    border-color: #a5a5a5;
}

.mono {
    font-family: Consolas, Monaco, monospace;
}

.error {
    font-size: 2em;
    color: red;
}

.config-label {
    font-weight: bold;
    font-size: 1.2em;
    padding-right: 12px;
}

input[type='range'] {
    height: 10px;
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
}

.threshold-label {
    display: inline-block;
    position: relative;
    width: 55px;
    color: white;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}

.threshold-label:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
}

.loading-spinner {
    position: relative;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
}
.loading-spinner:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #3b22ea;
    border-color: #3b22ea transparent #3b22ea transparent;
    animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner-progress-text {
    color: #3b22ea;
    font-weight: bold;
    text-align: center;
}
